@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Welcome to Doctor Dashboard!</h1>

Doctor Dashboard is a Blazor WebAssembly application that allowed doctor see Emergey Score of patients.

<SurveyPrompt Title="How is PatStraPro?" />
